*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(130, 229, 240);
}

.head-title{
    width: 100%;
    background-color: rgb(14, 14, 29);
    color: white;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin-left: 40rem;
    margin-top: 1rem;
    border: 8px solid black;
}

.squares{
    box-sizing: border-box;
    background-color: white;
}

.controls{
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: relative;
    margin-left: 160px;
}

.inputs{
    position: absolut;
    margin-top: 50px;
    height: 35px;
    width: 60px;
    font-size: 1rem;
    
}
#createButton{
    color: white;
    font-weight: 700;
    background-color: greenyellow;
}

#reset {
    margin-left: 50px;
    color: white;
    font-weight: 700;
    background-color: red;
}

#gridSize{
    padding-left: 8px;
}

#shade {
    width: 75px;
    color: white;
    font-weight: 700;
    background-color: grey;
}

#rainbow {
    width: 80px;
    color: white;
    font-weight: 700;
    background-image: url(/Etch-a-Sketch/images/rainbow.jpg);
    background-size: cover;
}